---
layout: layout.njk
lang: en
isHome: true
permalink: /en/index.html
pageUrl: /en/
altUrl: /
eleventyComputed:
  title: "{{ i18n.en.meta.homeTitle }}"
  description: "{{ i18n.en.meta.homeDescription }}"
---
{% include "home-body.njk" %}
