---
layout: layout.njk
lang: es
isHome: true
permalink: /index.html
pageUrl: /
altUrl: /en/
eleventyComputed:
  title: "{{ i18n.es.meta.homeTitle }}"
  description: "{{ i18n.es.meta.homeDescription }}"
---
{% include "home-body.njk" %}
